<div class="tableContainer" > 
    <div class="middle">
        <div class="staffTable" >
            <br><br>
            <table>
                <tr class="row1">
                    <th></th>
                    <th style="font-size: 15px;">
                        Enable or Block Customer
                    </th>
                    <th></th>
                </tr>
                <tr class="row2">
                    <th style="font-size: 15px;">Customer Name</th>
                    <th style="font-size: 15px;">Customer ID</th>  <!-- username -->
                    <th style="font-size: 15px;">Enable/ Disable</th>
                </tr>
                <tr *ngFor="let customer of allCustomerInfoData; let i = index" class="row2">
                    
                    <td>{{customer.fullname}}</td>  
                    <td>{{customer.username}}</td> <!--- username -->
                    <td>
                        <!-- TODO: add logic in checkbox -->
                        <label class="switch">
                            <input type="checkbox">
                            <span class="slider round" 
                            (click)="enabledOrDisableCustomerMember(customer.username)">    
                            </span>
                        </label>
                    </td>
                </tr>
            </table>
        </div>
    </div>
  </div>