<div class="row" style="display: flex;
width: 1080px;
height: 600px;
line-height: 1.8;
z-index: 1;
background: #FFFFFF;
margin: 100px auto 100px;
padding: 40px;
text-align: center;
box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);">
  <tabset  type="pills">

    
    <tab heading="By Account Number">
      <div class="component-container" style="margin-left: 30px;">
        <app-by-account-number></app-by-account-number>
      </div>
    </tab>
    <!--  TODO: need to add onClick fun, when click, refresh the children page  -->
    <tab heading="Approve Account">
      <div class="component-container">
        <app-approve-account></app-approve-account>
      </div>
    </tab>
    <tab heading="Approve Beneficiary">
      <div class="component-container">
        <app-approve-beneficiary></app-approve-beneficiary>
      </div>
    </tab>
    <tab heading="Enable/Block Customer">
      <div class="component-container">
        <app-enable-or-block-customer></app-enable-or-block-customer>
      </div>
    </tab>
    <tab heading="Transfer">
      <div class="component-container">
        <app-transfer></app-transfer>
      </div>
    </tab>
  </tabset>
</div>




    