<header>
    <app-admin-header></app-admin-header>
</header>

<div class="middle">
    <div class="adminButtons">
        <button class="button1" type="submit" (click)="goToCreateStaff()">Create Staff</button>
        &nbsp;&nbsp;&nbsp;
        <button class="button2" type="submit" (click)="viewStaff()">View Staffs</button>
        <!--&nbsp;&nbsp;&nbsp;
        <button class="button3" type="submit" (click)="deleteToken()">Logout</button>-->
    </div>

    <div *ngIf="!staffView">
        <div *ngIf="!staffCreated && match && !Error">
            <br><br>
            <form [formGroup]="createStaffForm" (ngSubmit)="createStaff()">
                <div class="form-group">
                    <input type="text" formControlName="fullname" class="form-control" placeholder="Fullname"
                        [ngClass]="{ 'is-invalid': submitted && f.fullname.errors }" />
                    <div *ngIf="submitted && f.fullname.errors" class="invalid-feedback">
                        <div *ngIf="f.fullname.errors?.['required']">Fullname is required</div>
                    </div>
                </div><br>
                <div class="form-group">
                    <input type="text" formControlName="username" class="form-control" placeholder="Username"
                        [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                        <div *ngIf="f.username.errors?.['required']">Username is required</div>
                        <div *ngIf="f.username.errors?.['minlength']">
                            Username must be at least 6 characters
                        </div>
                        <div *ngIf="f.username.errors?.['maxlength']">
                            Username must not exceed 20 characters
                        </div>
                    </div>
                </div><br>
                <div class="form-group">
                    <input type="password" formControlName="password" class="form-control" placeholder="Password"
                        [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors?.['required']">Password is required</div>
                        <div *ngIf="f.password.errors?.['minlength']">
                            Password must be at least 6 characters
                        </div>
                        <div *ngIf="f.password.errors?.['maxlength']">
                            Password must not exceed 40 characters
                        </div>
                    </div>
                </div><br>
                <div class="form-group">
                    <input type="password" formControlName="confirmPassword" class="form-control"
                        placeholder="Confirm Password"
                        [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
                    <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                        <div *ngIf="f.confirmPassword.errors?.['required']">Password is required</div>
                        <div *ngIf="f.confirmPassword.errors?.['minlength']">
                            Password must be at least 6 characters
                        </div>
                        <div *ngIf="f.confirmPassword.errors?.['maxlength']">
                            Password must not exceed 40 characters
                        </div>
                    </div>
                </div><br>
                <button class="button" type="submit">Create</button><br><br>
            </form>
        </div>
        <div *ngIf="staffCreated">
            <br><br>
            <form [formGroup]="createStaffForm" (ngSubmit)="createStaff()">
                <h3>Staff created succesfully</h3>
                <div class="form-group">
                    <input type="text" formControlName="fullname" class="form-control" placeholder="Fullname"
                        [ngClass]="{ 'is-invalid': submitted && f.fullname.errors }" />
                    <div *ngIf="submitted && f.fullname.errors" class="invalid-feedback">
                        <div *ngIf="f.fullname.errors?.['required']">Fullname is required</div>
                    </div>
                </div><br>
                <div class="form-group">
                    <input type="text" formControlName="username" class="form-control" placeholder="Username"
                        [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                        <div *ngIf="f.username.errors?.['required']">Username is required</div>
                        <div *ngIf="f.username.errors?.['minlength']">
                            Username must be at least 6 characters
                        </div>
                        <div *ngIf="f.username.errors?.['maxlength']">
                            Username must not exceed 20 characters
                        </div>
                    </div>
                </div><br>
                <div class="form-group">
                    <input type="password" formControlName="password" class="form-control" placeholder="Password"
                        [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors?.['required']">Password is required</div>
                        <div *ngIf="f.password.errors?.['minlength']">
                            Password must be at least 6 characters
                        </div>
                        <div *ngIf="f.password.errors?.['maxlength']">
                            Password must not exceed 40 characters
                        </div>
                    </div>
                </div><br>
                <div class="form-group">
                    <input type="password" formControlName="confirmPassword" class="form-control"
                        placeholder="Confirm Password"
                        [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
                    <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                        <div *ngIf="f.confirmPassword.errors?.['required']">Password is required</div>
                        <div *ngIf="f.confirmPassword.errors?.['minlength']">
                            Password must be at least 6 characters
                        </div>
                        <div *ngIf="f.confirmPassword.errors?.['maxlength']">
                            Password must not exceed 40 characters
                        </div>
                    </div>
                </div><br>
                <button class="button" type="submit">Create</button><br><br>
            </form>
        </div>
        <div *ngIf="!match">
            <br><br>
            <form [formGroup]="createStaffForm" (ngSubmit)="createStaff()">
                <h3>Password and Confirm Password does not match</h3>
                <div class="form-group">
                    <input type="text" formControlName="fullname" class="form-control" placeholder="Fullname"
                        [ngClass]="{ 'is-invalid': submitted && f.fullname.errors }" />
                    <div *ngIf="submitted && f.fullname.errors" class="invalid-feedback">
                        <div *ngIf="f.fullname.errors?.['required']">Fullname is required</div>
                    </div>
                </div><br>
                <div class="form-group">
                    <input type="text" formControlName="username" class="form-control" placeholder="Username"
                        [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                        <div *ngIf="f.username.errors?.['required']">Username is required</div>
                        <div *ngIf="f.username.errors?.['minlength']">
                            Username must be at least 6 characters
                        </div>
                        <div *ngIf="f.username.errors?.['maxlength']">
                            Username must not exceed 20 characters
                        </div>
                    </div>
                </div><br>
                <div class="form-group">
                    <input type="password" formControlName="password" class="form-control" placeholder="Password"
                        [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors?.['required']">Password is required</div>
                        <div *ngIf="f.password.errors?.['minlength']">
                            Password must be at least 6 characters
                        </div>
                        <div *ngIf="f.password.errors?.['maxlength']">
                            Password must not exceed 40 characters
                        </div>
                    </div>
                </div><br>
                <div class="form-group">
                    <input type="password" formControlName="confirmPassword" class="form-control"
                        placeholder="Confirm Password"
                        [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
                    <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                        <div *ngIf="f.confirmPassword.errors?.['required']">Password is required</div>
                        <div *ngIf="f.confirmPassword.errors?.['minlength']">
                            Password must be at least 6 characters
                        </div>
                        <div *ngIf="f.confirmPassword.errors?.['maxlength']">
                            Password must not exceed 40 characters
                        </div>
                    </div>
                </div><br>
                <button class="button" type="submit">Create</button><br><br>
            </form>
        </div>
        <div *ngIf="Error">
            <br><br>
            <form [formGroup]="createStaffForm" (ngSubmit)="createStaff()">
                <h3>{{registerError}}</h3>
                <div class="form-group">
                    <input type="text" formControlName="fullname" class="form-control" placeholder="Fullname"
                        [ngClass]="{ 'is-invalid': submitted && f.fullname.errors }" />
                    <div *ngIf="submitted && f.fullname.errors" class="invalid-feedback">
                        <div *ngIf="f.fullname.errors?.['required']">Fullname is required</div>
                    </div>
                </div><br>
                <div class="form-group">
                    <input type="text" formControlName="username" class="form-control" placeholder="Username"
                        [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                        <div *ngIf="f.username.errors?.['required']">Username is required</div>
                        <div *ngIf="f.username.errors?.['minlength']">
                            Username must be at least 6 characters
                        </div>
                        <div *ngIf="f.username.errors?.['maxlength']">
                            Username must not exceed 20 characters
                        </div>
                    </div>
                </div><br>
                <div class="form-group">
                    <input type="password" formControlName="password" class="form-control" placeholder="Password"
                        [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors?.['required']">Password is required</div>
                        <div *ngIf="f.password.errors?.['minlength']">
                            Password must be at least 6 characters
                        </div>
                        <div *ngIf="f.password.errors?.['maxlength']">
                            Password must not exceed 40 characters
                        </div>
                    </div>
                </div><br>
                <div class="form-group">
                    <input type="password" formControlName="confirmPassword" class="form-control"
                        placeholder="Confirm Password"
                        [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
                    <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                        <div *ngIf="f.confirmPassword.errors?.['required']">Password is required</div>
                        <div *ngIf="f.confirmPassword.errors?.['minlength']">
                            Password must be at least 6 characters
                        </div>
                        <div *ngIf="f.confirmPassword.errors?.['maxlength']">
                            Password must not exceed 40 characters
                        </div>
                    </div>
                </div><br>
                <button class="button" type="submit">Create</button><br><br>
            </form>
        </div>
    </div>



    <div class="tableContainer" *ngIf="staffView">
        <br><br>
        <table>
            <tr class="row1">
                <th></th>
                <th style="font-size: 30px;">
                    Enable or Disable Customer
                </th>
                <th></th>
            </tr>
            <tr class="row2">
                <th style="font-size: 20px;">Staff Name</th>
                <th style="font-size: 20px;">Staff Username</th>
                <th style="font-size: 20px;">Enable Disable</th>
            </tr>
            <tr *ngFor="let staff of staffs | paginate: { itemsPerPage: 8, currentPage: pages }" class="row2">
                <td>{{staff.fullname}}</td>
                <td>{{staff.username}}</td>
                <td>
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider round" (click)="enabledOrDisableStaffMember(staff.username)">
                        </span>
                    </label>
                </td>
            </tr>
            
            
        </table>
        <div class="page">
            <pagination-controls (pageChange)="pages = $event"
                ></pagination-controls>
            </div>
    </div>