<div class="middle">
    <div class="form">
        <h1>Login as Admin</h1>
        <form>
            <input type="text" placeholder="Enter Username" formControlName="username" /><br><br>
            <input type="password" placeholder="Enter Password" formControlName="password" />
            <br><br>
            <button class="button" type="submit">Login</button><br><br>
            <h2>Not an Super Admin <a href="adminregister" class="atag">REGISTER HERE</a>
            </h2>
        </form>
    </div>
</div>


