<header>
    <app-header></app-header>
</header>
<div class="middle" *ngIf="!notAuthorized">
    <div class="form">
        <h1>Login as Admin</h1>
        <form [formGroup]="adminLoginForm" (ngSubmit)="admin()">
            <div>
                <input type="text" placeholder="Enter Username" formControlName="username"
                    [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                <div *ngIf="submitted && f.username.errors">
                    <div *ngIf="f.username.errors?.['required']">Username is required</div>
                </div>
            </div>
            <br>
            <div>
                <input type="password" placeholder="Enter Password" formControlName="password"
                    [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                <div *ngIf="submitted && f.password.errors">
                    <div *ngIf="f.password.errors?.['required']">Password is required</div>
                </div>
            </div>
            <br>
            <button class="button" type="submit">Login</button><br><br>
            <h2>Not an Super Admin <a href="adminregister" class="atag">REGISTER HERE</a>
            </h2>
        </form>
    </div>
</div>

<div class="middle" *ngIf="notAuthorized">
    <div class="form">
        <h1>Login as Admin</h1>
        <form [formGroup]="adminLoginForm" (ngSubmit)="admin()">
            <h3>{{loginError}}</h3>
            <div>
                <input type="text" placeholder="Enter Username" formControlName="username"
                    [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                <div *ngIf="submitted && f.username.errors">
                    <div *ngIf="f.username.errors?.['required']">Username is required</div>
                </div>
            </div>
            <br>
            <div>
                <input type="password" placeholder="Enter Password" formControlName="password"
                    [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                <div *ngIf="submitted && f.password.errors">
                    <div *ngIf="f.password.errors?.['required']">Password is required</div>
                </div>
            </div>
            <br>
            <button class="button" type="submit">Login</button><br><br>
            <h2>Not an Super Admin <a href="adminregister" class="atag">REGISTER HERE</a>
            </h2>
        </form>
    </div>
</div>