<div class="middle">
<div class="left">
        <img src="assets/images/logo.jpg" alt="Logo" class="logo">
        <h1>Your Personal Banking Partner</h1>
</div>

<div class="right">
    <div class="form">
        <h1>Login</h1>
        <form>
            <input type="text" placeholder="Enter Username" formControlName="username" /><br><br>
            <input type="password" placeholder="Enter Password" formControlName="password" /><br><br>
            <button class="button" type="submit">Login</button><br><br>
            <a href="forgetpassword" class="atag">Forgot Password</a><br><br>
            <h2>Not a Customer <a href="customerregister" class="atag">REGISTER HERE</a></h2>
        </form>
    </div>
</div>
</div>