<div class="middle" *ngIf="!noCustomer">
    <div class="form">
        <h1>Forgot Password</h1>
        <form [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPassword()">
            <div class="form-group">
                <input type="text" formControlName="username" class="form-control" placeholder="Username"
                    [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                    <div *ngIf="f.username.errors?.['required']">Username is required</div>
                    <div *ngIf="f.username.errors?.['minlength']">
                        Username must be at least 6 characters
                    </div>
                    <div *ngIf="f.username.errors?.['maxlength']">
                        Username must not exceed 20 characters
                    </div>
                </div>
            </div><br>
            <select name = "dropdown" formControlName="question">
                <option value="" disabled="disabled" selected="selected">Please select a question</option>
                <option value = "What is your favourite color?">
                    What is your favourite color?</option>
                <option value = "What is your favourite sport?">What is your favourite sport?</option>
             </select><br><br>
             <div class="form-group">
                <input type="text" formControlName="answer" class="form-control" placeholder="Enter Answer"
                    [ngClass]="{ 'is-invalid': submitted && f.answer.errors }" />
                <div *ngIf="submitted && f.answer.errors" class="invalid-feedback">
                    <div *ngIf="f.answer.errors?.['required']">Answer is required</div>
                </div>
            </div><br>
            <button class="button" type="submit" 
            (click)="customerForgotPassword(forgotPasswordForm.value.username)">Get Details</button><br><br>
            <h2>Already have an Customer Account <a href="home" class="atag">LOGIN HERE</a>
            </h2>
        </form>
    </div>
</div>
<div class="middle" *ngIf="noCustomer">
    <div class="form">
        <h1>Forgot Password</h1>
        <form [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPassword()">
            <h3>Customer does not</h3>
            <div class="form-group">
                <input type="text" formControlName="username" class="form-control" placeholder="Username"
                    [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                    <div *ngIf="f.username.errors?.['required']">Username is required</div>
                    <div *ngIf="f.username.errors?.['minlength']">
                        Username must be at least 6 characters
                    </div>
                    <div *ngIf="f.username.errors?.['maxlength']">
                        Username must not exceed 20 characters
                    </div>
                </div>
            </div><br>
            <select name = "dropdown" formControlName="question">
                <option value="" disabled="disabled" selected="selected">Please select a question</option>
                <option value = "What is your favourite color?">
                    What is your favourite color?</option>
                <option value = "What is your favourite sport?">What is your favourite sport?</option>
             </select><br><br>
             <div class="form-group">
                <input type="text" formControlName="answer" class="form-control" placeholder="Enter Answer"
                    [ngClass]="{ 'is-invalid': submitted && f.answer.errors }" />
                <div *ngIf="submitted && f.answer.errors" class="invalid-feedback">
                    <div *ngIf="f.answer.errors?.['required']">Answer is required</div>
                </div>
            </div><br>
            <button class="button" type="submit" 
            (click)="customerForgotPassword(forgotPasswordForm.value.username)">Get Details</button><br><br>
            <h2>Already have an Customer Account <a href="home" class="atag">LOGIN HERE</a>
            </h2>
        </form>
    </div>
</div>
